# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri
src/src-tauri/target
src/src-tauri/Cargo.lock

# Build artifacts
*.tar.gz
*.part
backend_dist.tar.gz
backend_node_modules.tar.gz
frontend_build.tar.gz
sha256_*.txt
